# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Prices that will be used for calculations
    price.currency: zł # this is just a string representation will only displayed
    price.person.adult.basic: 500 # Put your basic price for a person on your wedding
    price.person.adult.beverages: 100 # Additional charge, for example: drink, cakes for adult
    price.person.kid.basic: 250 # Put the basic price for kid on your wedding
    price.person.kid.beverages: 50 # Additional charge, per kid for: drinks, cakes
    price.person.support.basic: 500 # Price for person from support
    price.person.babies.basic: 0 # Put the basic price for smaller kids
    price.pair.leaving_gift: 50 # Price for additional gift for guest on leaving
    price.additional.fountain: 1000 # We added additional wine fountain on the wedding
    price.breakfast.price: 1000 # Price for breakfast in the restaurant
