{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.placement == 1 %}
        {{ 'Young'|trans }}
        <i class="fa fa-stop" style="color: #40cf22" aria-hidden="true"></i>
    {% elseif object.placement == 2 %}
        {{ 'Young Parents'|trans }}
        <i class="fa fa-stop" style="color: #2e65cf" aria-hidden="true"></i>
    {% elseif object.placement == 3 %}
        <span class="label label-info">{{ 'Not Decided'|trans }}</span>
    {% elseif object.placement == 4 %}
        {{ 'Support Table'|trans }}
        <i class="fa fa-stop" style="color: #838887" aria-hidden="true"></i>
    {% endif %}
{% endblock %}
