{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.priceRange == 1 %}
            <span class="text-danger">Dorośli ({{ mainPrice }} zł) </span>
        {% elseif object.priceRange == 2 %}
            <span class="text-info">Dzieci ({{ mainPrice / 2 }} zł)</span>
        {% else %}
            Bezpłatnie
        {% endif %}
    </div>
{% endblock %}